.heading{
  font-family: 'Noto Sans','Sans Serif';
  font-weight: 800;
  font-style: oblique;
  color: #f1fa8c;
}
a{
  color: white;
}
ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
li{
  padding: 0.25rem;
}