<div style="width: 80%; margin: auto;">
  <h1 class="heading">About me</h1>
  <p>A person who loves tinkering computers, and sotware technology. I aim to create more sophisticated and innovative
      applications.
    </p>
  <br>
  <h1 class="heading">Strengths</h1>
  <p>I have worked with a lot of tools and programming languages.</p>  
  <ul>
    <li><a href="https://angular.io" target="_blank"> <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="angular" width="40" height="40"/> Angular </a></li>
    <li><a href="https://azure.microsoft.com/en-in/" target="_blank"> <img src="https://www.vectorlogo.zone/logos/microsoft_azure/microsoft_azure-icon.svg" alt="azure" width="40" height="40"/> Azure services</a></li>
    <li>
      <a href="https://dotnet.microsoft.com/" target="_blank"> <img src="https://www.vectorlogo.zone/logos/dotnet/dotnet-icon.svg" alt="dotnet" width="40" height="40"/> .NET</a> &
      <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg" alt="csharp" width="40" height="40"/> C#</a>
    </li>
    <li><a href="https://git-scm.com" target="_blank"> <img src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg" alt="git" width="40" height="40"/> Git version control</a></li>
    <li><a href="https://www.java.com" target="_blank"> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg" alt="java" width="40" height="40"/> Java</a></li>
    <li><a href="https://www.microsoft.com/en-us/sql-server" target="_blank"> <img src="https://www.svgrepo.com/show/303229/microsoft-sql-server-logo.svg" alt="mssql" width="40" height="40"/> Microsoft SQL Server</a></li>
    <li><a href="https://nodejs.org/en/" target="_blank"> <img src="https://www.vectorlogo.zone/logos/nodejs/nodejs-icon.svg" alt="nodejs" width="40" height="40"/> Nodejs</a> </li>
    <li><a href="https://www.typescriptlang.org/" target="_blank"> <img src="https://www.vectorlogo.zone/logos/typescriptlang/typescriptlang-icon.svg" alt="typescript" width="40" height="40"/> Typescript</a></li>
    <li><a href="https://www.gnu.org/software/bash/" target="_blank"> <img src="https://www.vectorlogo.zone/logos/gnu_bash/gnu_bash-icon.svg" alt="gnu_bash" width="40" height="40"/> Bash</a></li>
    <li>
      <a href="https://www.linux.org/" target="_blank"> <img src="https://www.vectorlogo.zone/logos/linux/linux-icon.svg" alt="linux-icon" width="40" height="40"/> Linux</a>
    </li>
    <!-- <li><a href="" target="_blank"> <img src="" alt="" width="40" height="40"/> </a></li> -->
  </ul>


  
  

  <br>
  <h1 class="heading">Interests</h1>
  <ul>
    <li>Linux, Arch and Gentoo in specific</li>
    <li>Rust programming language</li>
    <li>Micro-controllers</li>
    <li>Machine learning / Artificial intelligence</li>
  </ul>
  <p></p>  
  
</div>