<header class="header">
  <div>
    <h1 class="heading">Atri Hegde</h1>
  </div>
  <div class="nav">
    <p class="nav-item">[ <a routerLink="/home" style="color: #ffb86c;">Home</a> ]</p>
    <p class="nav-item">|</p>
    <p class="nav-item">[ <a routerLink="/blogs" style="color: #ffb86c;">Blog</a> ]</p>
    <p class="nav-item">|</p>
    <p class="nav-item">[ <a href="https://github.com/hegde-atri" target="_blank" style="color: #ffb86c;">Github</a> ]</p>
    <p class="nav-item">|</p>
    <p class="nav-item">[ <a routerLink="/about" style="color: #ffb86c;">About</a> ]</p>
  </div>
</header>
<br>

<div>
  <router-outlet></router-outlet>
</div>

<br>
<footer class="footer">
  <div class="parent">
    <p class="child">© Copyright 2022 Atri Hegde. All rights reserved.</p>
  </div>
  <div class="parent">
    <p class="child">Made with 🖤 by Atri Hegde</p>
  </div>
</footer>
