<div class="main" style="width: 80%; margin: auto;">
  <h1 class="heading">Welcome to my webpage</h1>
  <!--TODO about me link-->
  <p>Hi guys welcome to my webpage! I am Atri Hegde, a college student in the UK. In love with computer tech and software
    You can find out more about me here.
  </p>
  <br>
  <h1 class="heading">Blogs</h1>
  <p>I am using blogs to document new things that I learn that could be helpful.</p>
  <br>
  <h1 class="heading">Github</h1>
  <p>Most if not all my projects are available on Github.</p>
  <br>
</div>