<div class="main" style="width: 80%; margin: auto;">
  <h1 class="heading">Welcome to my webpage</h1>
  <!--TODO about me link-->
  <p>Hi guys welcome to my webpage! I am Atri Hegde, a college student in the UK. In love with computer tech and software
    You can find out more about me here.
  </p>
  <br>
  <h1 class="heading">Blogs</h1>
  <p>I am using blogs to document new things that I learn that could be helpful to others in the community.</p>
  <br>
  <h1 class="heading">Github</h1>
  <p>Most if not all my projects are available on Github.</p>
  <br>
  <h1 class="heading">What is this</h1>
  <p>It's my site, where I am in control with no censorship. Online since 08/04/2022.</p>
</div>