.full-width-table{
  width: 100%;
  background-color: #44475a;
}
.paginator{
  background-color: #44475a;
}
.heading{
  font-family: 'Noto Sans','Sans Serif';
  font-weight: 800;
  font-style: oblique;
  color: #f1fa8c;
}